:root{
    --background-color: #eee;
    --secondary-color: #fff;
    --header-footer: #333;
    --button-background: #444;
    --button-hover: #555;
    --border-color: black;
    --link-color: blue;
    --form-border: #ccc;
    --other-button-hover: #666;
    font-size: 10px;
}
h1{
    font-size: 3.2rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.872rem;
}
body {
    background-color: var(--background-color); 
}
nav {
    background-color: var(--header-footer);
    color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 1rem;
    background-color: var(--button-background);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
}
nav a:hover {
    transition: 0.2s;
    background-color: var(--button-hover);
}

.rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.room{
    flex: 1 1 28rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding:2rem;
    margin: 2rem;
    font-size: 1.6rem
}
.card {
    background-color: var(--secondary-color);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    font-size:1.6rem;
}
footer {
    background-color: var(--header-footer);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    font-size:1.6rem;
}



a {
    color: var(--link-color);
    text-decoration: underline;
    font-size:1.6rem;
}
.room a {
    background-color: var(--button-background);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
}
.room a:hover {
    transition: 0.2s;
    background-color: var(--other-button-hover);
}


fieldset {
    border: 2px solid var(--border-color);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    font-size: 1.6rem;
}
legend {
    font-weight: bold;
    padding: 0 1rem;
    font-size:2rem;
}
input[type="text"], input[type="email"], input[type="date"], input[type="time"], select, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 1px solid var(--form-border);
}
label {
    font-size: 1.6rem;
}
 input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, textarea:focus {
    transition: 0.1s;
    border: 2px solid var(--border-color);
    outline: none;
}
form button {
    background-color: var(--header-footer);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size:1.6rem;
}
form button:hover {
    transition: 0.2s;
    background-color: var(--button-hover);
}



details {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid var(--form-border);
    border-radius: 0.5rem;
}
summary {
    font-weight: bold;
    cursor: pointer;
}



table, td, th {
    border: 3px solid var(--border-color);
    font-size: 1.4rem;
}
table{
    border-collapse:collapse;
    width: 100%;
    margin-bottom: 2rem;
}
th,td {
    padding: 1rem;
}
#tablediv{
    width: 100%;
    overflow-x: auto;
}


@media (max-width: 500px){
    :root{
        font-size: 8px;
    }
    nav {
        flex-direction: column;
    }
}
@media (max-width: 400px){
    :root{
        font-size: 7px;
    }
}